*.home.antonu.org {
    tls {
        dns route53
    }

    @mealie host mealie.home.antonu.org
    handle @mealie {
        reverse_proxy mealie:9000
    }

    @pihole host pihole.home.antonu.org
    handle @pihole {
        reverse_proxy pihole:80
    }

    @grafana host grafana.home.antonu.org
    handle @grafana {
        reverse_proxy grafana:3000
    }
}
