*.home.antonu.org {
    tls {
        dns route53
    }

    @mealie host mealie.home.antonu.org
    handle @mealie {
        reverse_proxy mealie:9000
    }

    @grocy host grocy.home.antonu.org
    handle @grocy {
        reverse_proxy grocy:80
    }

    @pihole host pihole.home.antonu.org
    handle @pihole {
        reverse_proxy pihole:80
    }

    @grafana host grafana.home.antonu.org
    handle @grafana {
        reverse_proxy grafana:3000
    }

    @adsb host adsb.home.antonu.org
    handle @adsb {
        reverse_proxy host.docker.internal:3780
    }

    @fr24 host fr24.home.antonu.org
    handle @fr24 {
        reverse_proxy host.docker.internal:3781
    }

    @homeassistant host ha.home.antonu.org
    handle @homeassistant {
        reverse_proxy 192.168.100.3:8123
    }

    @anki host anki-anton.home.antonu.org
    handle @anki {
        reverse_proxy anki-sync:8088
    }
}
